@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800&family=Inconsolata%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800&family=Montserrat%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800&display=swap");

.plasmic_tokens {
  --token-Y3w1daRc_nBh: var(--token-OJSN3W0Myvht);
  --plasmic-token-size-32: var(--token-Y3w1daRc_nBh);
  --token-JaUdzRqud0sX: var(--token-0tl2H1TRPHhV);
  --plasmic-token-size-16: var(--token-JaUdzRqud0sX);
  --token-DuHkp8m-y0fW: var(--token-cfon0PHiXQoL);
  --plasmic-token-size-8: var(--token-DuHkp8m-y0fW);
  --token-QOlNJK6AW-pl: var(--token-MGudh00NLP3q);
  --plasmic-token-muted-muted-soft-foreground: var(--token-QOlNJK6AW-pl);
  --token-YbjSfZMZjpQg: var(--token-RuQNZpYm0Yds);
  --plasmic-token-size-4: var(--token-YbjSfZMZjpQg);
  --token-_R22tqOQCWOp: var(--token-PKf5XaFatup3);
  --plasmic-token-size-12: var(--token-_R22tqOQCWOp);
  --token-COOpAn5R3yTL: var(--token-ekJK2BNXfyOR);
  --plasmic-token-size-24: var(--token-COOpAn5R3yTL);
  --token-PQ6SvGTcXvie: 1.25rem;
  --plasmic-token-font-lg: var(--token-PQ6SvGTcXvie);
  --token-ZP7q8fwCjzIz: #ffffff;
  --plasmic-token-basic-container-background: var(--token-ZP7q8fwCjzIz);
  --token-5vmFiSI-IIdw: var(--token-3kYlE5VFDAO5);
  --plasmic-token-brand-brand: var(--token-5vmFiSI-IIdw);
  --token-A_grR1l-YMfh: Inter;
  --plasmic-token-sans-serif: var(--token-A_grR1l-YMfh);
  --token-P2EB8APoXPOK: 1rem;
  --plasmic-token-font-md: var(--token-P2EB8APoXPOK);
  --token-aS0l6gb-iZFF: 1.25;
  --plasmic-token-line-height-md: var(--token-aS0l6gb-iZFF);
  --token-FEbPypXp2mZ6: var(--token-c8-rjzKYORFj);
  --plasmic-token-size-6: var(--token-FEbPypXp2mZ6);
  --token-4jLsdWqoYLxp: var(--token-Cn459MKRbWu9);
  --plasmic-token-neutral-neutral: var(--token-4jLsdWqoYLxp);
  --token-IWP67w-wUXtW: var(--token-u2RgMe-uQAju);
  --plasmic-token-destructive-destructive: var(--token-IWP67w-wUXtW);
  --token-uTlp15VGCXeI: var(--token-MGudh00NLP3q);
  --plasmic-token-muted-muted: var(--token-uTlp15VGCXeI);
  --token-eVYj83L7jOWZ: 0.75rem;
  --plasmic-token-font-sm: var(--token-eVYj83L7jOWZ);
  --token-oU9C0l17ewgt: 1;
  --plasmic-token-line-height-sm: var(--token-oU9C0l17ewgt);
  --token-PJSMkSYzilp3: 1.4;
  --plasmic-token-line-height-lg: var(--token-PJSMkSYzilp3);
  --token-7pJsXrz6ZJTm: var(--token-IUVIp1DHBSFd);
  --plasmic-token-size-2: var(--token-7pJsXrz6ZJTm);
  --token-QMGbPeoH-Gy0: var(--token-8odYYBvkaHVX);
  --plasmic-token-success-success: var(--token-QMGbPeoH-Gy0);
  --token-mR2i-yk1mpLa: var(--token-L6pBmIkiSkx4);
  --plasmic-token-warning-warning: var(--token-mR2i-yk1mpLa);
  --token-EJswiHLUnZUr: var(--token-w7EPkOMSh2Xb);
  --plasmic-token-brand-brand-soft: var(--token-EJswiHLUnZUr);
  --token-veLHBP5DLXij: var(--token-YTNNB1KtOvN9);
  --plasmic-token-neutral-neutral-soft: var(--token-veLHBP5DLXij);
  --token-VMTJeJsZtZGK: var(--token-NyTb7hfbZNyN);
  --plasmic-token-muted-muted-soft: var(--token-VMTJeJsZtZGK);
  --token-fFv6a2Famcc8: var(--token-Xs2o77o8RCB-);
  --plasmic-token-success-success-soft: var(--token-fFv6a2Famcc8);
  --token-ya4PP5Vh6DVS: var(--token-BUYkn0c_BT-J);
  --plasmic-token-warning-warning-soft: var(--token-ya4PP5Vh6DVS);
  --token-S_8JUp_UmCy6: var(--token-I0_BUYzH206C);
  --plasmic-token-destructive-destructive-soft: var(--token-S_8JUp_UmCy6);
  --token-dnjslxtXDFNe: var(--token-qsHKKmoi9Z2N);
  --plasmic-token-brand-brand-border: var(--token-dnjslxtXDFNe);
  --token-GjdRQTIPgkIO: var(--token-GQQSYIXwL9h_);
  --plasmic-token-neutral-neutral-border: var(--token-GjdRQTIPgkIO);
  --token-qBREz7MRf41n: var(--token-YTNNB1KtOvN9);
  --plasmic-token-muted-muted-border: var(--token-qBREz7MRf41n);
  --token-xeRtfcmfD1mP: var(--token-Y7e5ggCd09M6);
  --plasmic-token-success-success-border: var(--token-xeRtfcmfD1mP);
  --token-MGbkjH-CEXT8: var(--token-N2GVB8b4MTkJ);
  --plasmic-token-warning-warning-border: var(--token-MGbkjH-CEXT8);
  --token-kpx9SnOnBdDo: var(--token-8XWkpFEFETNw);
  --plasmic-token-destructive-destructive-border: var(--token-kpx9SnOnBdDo);
  --token-UqHQKI3KqJef: #0000001a;
  --plasmic-token-interaction-hovered: var(--token-UqHQKI3KqJef);
  --token-e4_2q2x7DtpM: #ffffff40;
  --plasmic-token-interaction-disabled: var(--token-e4_2q2x7DtpM);
  --token-teCHKfT5z9px: #00000033;
  --plasmic-token-interaction-pressed: var(--token-teCHKfT5z9px);
  --token-2OzDQPl8ABqZ: var(--token-vINZR3MlEOSB);
  --plasmic-token-size-10: var(--token-2OzDQPl8ABqZ);
  --token-oeBFDBMdyccI: var(--token-M0LHGDR880st);
  --plasmic-token-brand-brand-foreground: var(--token-oeBFDBMdyccI);
  --token-S0SjW5oqDoSD: var(--token-w0BmYAdVh1BD);
  --plasmic-token-neutral-neutral-foreground: var(--token-S0SjW5oqDoSD);
  --token-1H0ij1obZCXO: var(--token-YTNNB1KtOvN9);
  --plasmic-token-muted-muted-foreground: var(--token-1H0ij1obZCXO);
  --token-YKTC46dAzhss: var(--token-wXhZBDyFIH77);
  --plasmic-token-brand-brand-soft-foreground: var(--token-YKTC46dAzhss);
  --token-Bq32dfTSgeTH: var(--token-IM1QVYeIZBIA);
  --plasmic-token-warning-warning-foreground: var(--token-Bq32dfTSgeTH);
  --token-ZgnjoOnXYjTb: var(--token-d5rxOApLiBXu);
  --plasmic-token-success-success-foreground: var(--token-ZgnjoOnXYjTb);
  --token-bEmm3fVJ5jET: var(--token-wO2qMySVKYXU);
  --plasmic-token-destructive-destructive-foreground: var(--token-bEmm3fVJ5jET);
  --token-qMoYJPDxlrTZ: var(--token-ZnueTOHp2Zir);
  --plasmic-token-neutral-neutral-soft-foreground: var(--token-qMoYJPDxlrTZ);
  --token-C_qy35rsoZeQ: var(--token-MD2kb85IOAun);
  --plasmic-token-success-success-soft-foreground: var(--token-C_qy35rsoZeQ);
  --token-OcR13RuVjiHi: var(--token-Work-inyFZuD);
  --plasmic-token-warning-warning-soft-foreground: var(--token-OcR13RuVjiHi);
  --token-vL1VTDrHk9Yx: var(--token-c1-8q9kxmrq_);
  --plasmic-token-destructive-destructive-soft-foreground: var(
    --token-vL1VTDrHk9Yx
  );
  --token-emgA65CIAei3: var(--token-4Cdw41zGDm2p);
  --plasmic-token-basic-text-primary: var(--token-emgA65CIAei3);
  --token-Kz32cfmkCCmq: var(--token-6ejI8EHwX0xR);
  --plasmic-token-basic-text-secondary: var(--token-Kz32cfmkCCmq);
  --token-7osT5gLwp5ba: var(--token-TONjX_YbO9_T);
  --plasmic-token-size-20: var(--token-7osT5gLwp5ba);
  --token-UXcWr7Br5l5z: var(--token-RN6-6smk2YHi);
  --plasmic-token-basic-ring: var(--token-UXcWr7Br5l5z);
  --token-yRMJ0C5rCs2P: var(--token-GQQSYIXwL9h_);
  --plasmic-token-basic-border: var(--token-yRMJ0C5rCs2P);
  --token-J7GTHUITk-xW: var(--token-YTNNB1KtOvN9);
  --plasmic-token-muted-muted-soft-hover: var(--token-J7GTHUITk-xW);
  --token-LphXi5U7EQSi: var(--token-YTNNB1KtOvN9);
  --plasmic-token-basic-input-background: var(--token-LphXi5U7EQSi);
  --token-TXFQfNV_xIMg: #0a0a0a80;
  --plasmic-token-basic-overlay-background: var(--token-TXFQfNV_xIMg);
  --token-UhfbOo34yAP-: var(--token-c-y4Lbl8pLuG);
  --plasmic-token-basic-container-background-dark: var(--token-UhfbOo34yAP-);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-Kn35KKkZzepk_font-family: "Inter", sans-serif;
  --mixin-Kn35KKkZzepk_font-size: 16px;
  --mixin-Kn35KKkZzepk_font-weight: 500;
  --mixin-Kn35KKkZzepk_font-style: normal;
  --mixin-Kn35KKkZzepk_color: var(--token-UhfbOo34yAP-);
  --mixin-Kn35KKkZzepk_text-align: left;
  --mixin-Kn35KKkZzepk_text-transform: none;
  --mixin-Kn35KKkZzepk_line-height: 1.5;
  --mixin-Kn35KKkZzepk_letter-spacing: normal;
  --mixin-Kn35KKkZzepk_white-space: pre-wrap;
  --mixin-Kn35KKkZzepk_user-select: text;
  --mixin-Kn35KKkZzepk_text-decoration-line: none;
  --mixin-Kn35KKkZzepk_text-overflow: clip;
  --mixin-X8PGN65g7lqt_color: #000000;
  --mixin-X8PGN65g7lqt_font-weight: 700;
  --mixin-X8PGN65g7lqt_font-size: 64px;
  --mixin-X8PGN65g7lqt_line-height: 1;
  --mixin-X8PGN65g7lqt_letter-spacing: -1px;
  --mixin-X8PGN65g7lqt_white-space: pre-wrap;
  --mixin-fsglxnjtp23T_color: #000000;
  --mixin-fsglxnjtp23T_font-size: 48px;
  --mixin-fsglxnjtp23T_font-weight: 700;
  --mixin-fsglxnjtp23T_letter-spacing: -0.5px;
  --mixin-fsglxnjtp23T_line-height: 1.1;
  --mixin-fsglxnjtp23T_white-space: pre-wrap;
  --mixin-E0J76v4B5ak6_color: #0070f3;
  --mixin-E0J76v4B5ak6_white-space: pre-wrap;
  --mixin-z07s7dqTzOYw_color: #000000;
  --mixin-z07s7dqTzOYw_font-size: 32px;
  --mixin-z07s7dqTzOYw_font-weight: 600;
  --mixin-z07s7dqTzOYw_line-height: 1.2;
  --mixin-z07s7dqTzOYw_white-space: pre-wrap;
  --mixin-N6y_r7AdtaT7_color: #000000;
  --mixin-N6y_r7AdtaT7_font-size: 24px;
  --mixin-N6y_r7AdtaT7_font-weight: 600;
  --mixin-N6y_r7AdtaT7_line-height: 1.3;
  --mixin-N6y_r7AdtaT7_white-space: pre-wrap;
  --mixin-waf2eK8Pqz5Q_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-waf2eK8Pqz5Q_border-bottom-color: #dddddd;
  --mixin-waf2eK8Pqz5Q_border-bottom-style: solid;
  --mixin-waf2eK8Pqz5Q_border-bottom-width: 1px;
  --mixin-waf2eK8Pqz5Q_border-left-color: #dddddd;
  --mixin-waf2eK8Pqz5Q_border-left-style: solid;
  --mixin-waf2eK8Pqz5Q_border-left-width: 1px;
  --mixin-waf2eK8Pqz5Q_border-right-color: #dddddd;
  --mixin-waf2eK8Pqz5Q_border-right-style: solid;
  --mixin-waf2eK8Pqz5Q_border-right-width: 1px;
  --mixin-waf2eK8Pqz5Q_border-top-color: #dddddd;
  --mixin-waf2eK8Pqz5Q_border-top-style: solid;
  --mixin-waf2eK8Pqz5Q_border-top-width: 1px;
  --mixin-waf2eK8Pqz5Q_border-bottom-left-radius: 3px;
  --mixin-waf2eK8Pqz5Q_border-bottom-right-radius: 3px;
  --mixin-waf2eK8Pqz5Q_border-top-left-radius: 3px;
  --mixin-waf2eK8Pqz5Q_border-top-right-radius: 3px;
  --mixin-waf2eK8Pqz5Q_font-family: "Inconsolata";
  --mixin-waf2eK8Pqz5Q_padding-bottom: 1px;
  --mixin-waf2eK8Pqz5Q_padding-left: 4px;
  --mixin-waf2eK8Pqz5Q_padding-right: 4px;
  --mixin-waf2eK8Pqz5Q_padding-top: 1px;
  --mixin-waf2eK8Pqz5Q_white-space: pre-wrap;
  --mixin-W5wABBNUWE00_border-left-color: #dddddd;
  --mixin-W5wABBNUWE00_border-left-style: solid;
  --mixin-W5wABBNUWE00_border-left-width: 3px;
  --mixin-W5wABBNUWE00_color: #888888;
  --mixin-W5wABBNUWE00_padding-left: 10px;
  --mixin-W5wABBNUWE00_white-space: pre-wrap;
  --mixin-xMxGwO2MOpYl_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-xMxGwO2MOpYl_border-bottom-color: #dddddd;
  --mixin-xMxGwO2MOpYl_border-bottom-style: solid;
  --mixin-xMxGwO2MOpYl_border-bottom-width: 1px;
  --mixin-xMxGwO2MOpYl_border-left-color: #dddddd;
  --mixin-xMxGwO2MOpYl_border-left-style: solid;
  --mixin-xMxGwO2MOpYl_border-left-width: 1px;
  --mixin-xMxGwO2MOpYl_border-right-color: #dddddd;
  --mixin-xMxGwO2MOpYl_border-right-style: solid;
  --mixin-xMxGwO2MOpYl_border-right-width: 1px;
  --mixin-xMxGwO2MOpYl_border-top-color: #dddddd;
  --mixin-xMxGwO2MOpYl_border-top-style: solid;
  --mixin-xMxGwO2MOpYl_border-top-width: 1px;
  --mixin-xMxGwO2MOpYl_border-bottom-left-radius: 3px;
  --mixin-xMxGwO2MOpYl_border-bottom-right-radius: 3px;
  --mixin-xMxGwO2MOpYl_border-top-left-radius: 3px;
  --mixin-xMxGwO2MOpYl_border-top-right-radius: 3px;
  --mixin-xMxGwO2MOpYl_font-family: "Inconsolata";
  --mixin-xMxGwO2MOpYl_padding-bottom: 3px;
  --mixin-xMxGwO2MOpYl_padding-left: 6px;
  --mixin-xMxGwO2MOpYl_padding-right: 6px;
  --mixin-xMxGwO2MOpYl_padding-top: 3px;
  --mixin-xMxGwO2MOpYl_white-space: pre-wrap;
  --mixin-esJzuuwN0uGl_display: flex;
  --mixin-esJzuuwN0uGl_flex-direction: column;
  --mixin-esJzuuwN0uGl_align-items: stretch;
  --mixin-esJzuuwN0uGl_justify-content: flex-start;
  --mixin-esJzuuwN0uGl_list-style-position: outside;
  --mixin-esJzuuwN0uGl_padding-left: 40px;
  --mixin-esJzuuwN0uGl_position: relative;
  --mixin-esJzuuwN0uGl_list-style-type: disc;
  --mixin-esJzuuwN0uGl_white-space: pre-wrap;
  --mixin-0BIJgt79uXul_display: flex;
  --mixin-0BIJgt79uXul_flex-direction: column;
  --mixin-0BIJgt79uXul_align-items: stretch;
  --mixin-0BIJgt79uXul_justify-content: flex-start;
  --mixin-0BIJgt79uXul_list-style-position: outside;
  --mixin-0BIJgt79uXul_padding-left: 40px;
  --mixin-0BIJgt79uXul_position: relative;
  --mixin-0BIJgt79uXul_list-style-type: decimal;
  --mixin-0BIJgt79uXul_white-space: pre-wrap;
  --mixin-5NgtLfBSXV9v_color: #000000;
  --mixin-5NgtLfBSXV9v_font-size: 20px;
  --mixin-5NgtLfBSXV9v_font-weight: 600;
  --mixin-5NgtLfBSXV9v_line-height: 1.5;
  --mixin-5NgtLfBSXV9v_white-space: pre-wrap;
  --mixin--a8zQOkp67EK_color: #000000;
  --mixin--a8zQOkp67EK_font-size: 16px;
  --mixin--a8zQOkp67EK_font-weight: 600;
  --mixin--a8zQOkp67EK_line-height: 1.5;
  --mixin--a8zQOkp67EK_white-space: pre-wrap;
  --mixin-tnAIR5VczEHi_color: #3291ff;
  --mixin-tnAIR5VczEHi_white-space: pre-wrap;
  --mixin-d7poLDXtB3NF_white-space: pre-wrap;
  --mixin-Smf3wq1Gi2FG_white-space: pre-wrap;
  --mixin-v5vaYXiibaTP_white-space: pre-wrap;
  --mixin-zvgrBUCPqT7c_white-space: pre-wrap;
}

@media (min-width: 0px) and (max-width: 768px) {
  .plasmic_default_styles {
    --mixin-Kn35KKkZzepk_font-size: 12px;
    --mixin-Kn35KKkZzepk_white-space: pre-wrap;
  }
}

.plasmic_mixins {
  --mixin-sM8839KLvB38_white-space: pre-wrap;
  --plasmic-mixin-tt_white-space: var(--mixin-sM8839KLvB38_white-space);
  --mixin-75AzZ0JEdc2V_white-space: pre-wrap;
  --plasmic-mixin-unnamed-style-preset_white-space: var(
    --mixin-75AzZ0JEdc2V_white-space
  );
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  row-gap: 0px;
  column-gap: 0px;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  row-gap: 0px;
  column-gap: 0px;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-Kn35KKkZzepk_font-family);
  font-size: var(--mixin-Kn35KKkZzepk_font-size);
  font-weight: var(--mixin-Kn35KKkZzepk_font-weight);
  font-style: var(--mixin-Kn35KKkZzepk_font-style);
  color: var(--mixin-Kn35KKkZzepk_color);
  text-align: var(--mixin-Kn35KKkZzepk_text-align);
  text-transform: var(--mixin-Kn35KKkZzepk_text-transform);
  line-height: var(--mixin-Kn35KKkZzepk_line-height);
  letter-spacing: var(--mixin-Kn35KKkZzepk_letter-spacing);
  white-space: var(--mixin-Kn35KKkZzepk_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-X8PGN65g7lqt_color);
  font-weight: var(--mixin-X8PGN65g7lqt_font-weight);
  font-size: var(--mixin-X8PGN65g7lqt_font-size);
  line-height: var(--mixin-X8PGN65g7lqt_line-height);
  letter-spacing: var(--mixin-X8PGN65g7lqt_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-fsglxnjtp23T_color);
  font-size: var(--mixin-fsglxnjtp23T_font-size);
  font-weight: var(--mixin-fsglxnjtp23T_font-weight);
  letter-spacing: var(--mixin-fsglxnjtp23T_letter-spacing);
  line-height: var(--mixin-fsglxnjtp23T_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-E0J76v4B5ak6_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-z07s7dqTzOYw_color);
  font-size: var(--mixin-z07s7dqTzOYw_font-size);
  font-weight: var(--mixin-z07s7dqTzOYw_font-weight);
  line-height: var(--mixin-z07s7dqTzOYw_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-N6y_r7AdtaT7_color);
  font-size: var(--mixin-N6y_r7AdtaT7_font-size);
  font-weight: var(--mixin-N6y_r7AdtaT7_font-weight);
  line-height: var(--mixin-N6y_r7AdtaT7_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-waf2eK8Pqz5Q_font-family);
  border-radius: var(--mixin-waf2eK8Pqz5Q_border-top-left-radius)
    var(--mixin-waf2eK8Pqz5Q_border-top-right-radius)
    var(--mixin-waf2eK8Pqz5Q_border-bottom-right-radius)
    var(--mixin-waf2eK8Pqz5Q_border-bottom-left-radius);
  padding: var(--mixin-waf2eK8Pqz5Q_padding-top)
    var(--mixin-waf2eK8Pqz5Q_padding-right)
    var(--mixin-waf2eK8Pqz5Q_padding-bottom)
    var(--mixin-waf2eK8Pqz5Q_padding-left);
  border-top: var(--mixin-waf2eK8Pqz5Q_border-top-width)
    var(--mixin-waf2eK8Pqz5Q_border-top-style)
    var(--mixin-waf2eK8Pqz5Q_border-top-color);
  border-right: var(--mixin-waf2eK8Pqz5Q_border-right-width)
    var(--mixin-waf2eK8Pqz5Q_border-right-style)
    var(--mixin-waf2eK8Pqz5Q_border-right-color);
  border-bottom: var(--mixin-waf2eK8Pqz5Q_border-bottom-width)
    var(--mixin-waf2eK8Pqz5Q_border-bottom-style)
    var(--mixin-waf2eK8Pqz5Q_border-bottom-color);
  border-left: var(--mixin-waf2eK8Pqz5Q_border-left-width)
    var(--mixin-waf2eK8Pqz5Q_border-left-style)
    var(--mixin-waf2eK8Pqz5Q_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-W5wABBNUWE00_color);
  padding-left: var(--mixin-W5wABBNUWE00_padding-left);
  border-left: var(--mixin-W5wABBNUWE00_border-left-width)
    var(--mixin-W5wABBNUWE00_border-left-style)
    var(--mixin-W5wABBNUWE00_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-xMxGwO2MOpYl_font-family);
  border-radius: var(--mixin-xMxGwO2MOpYl_border-top-left-radius)
    var(--mixin-xMxGwO2MOpYl_border-top-right-radius)
    var(--mixin-xMxGwO2MOpYl_border-bottom-right-radius)
    var(--mixin-xMxGwO2MOpYl_border-bottom-left-radius);
  padding: var(--mixin-xMxGwO2MOpYl_padding-top)
    var(--mixin-xMxGwO2MOpYl_padding-right)
    var(--mixin-xMxGwO2MOpYl_padding-bottom)
    var(--mixin-xMxGwO2MOpYl_padding-left);
  border-top: var(--mixin-xMxGwO2MOpYl_border-top-width)
    var(--mixin-xMxGwO2MOpYl_border-top-style)
    var(--mixin-xMxGwO2MOpYl_border-top-color);
  border-right: var(--mixin-xMxGwO2MOpYl_border-right-width)
    var(--mixin-xMxGwO2MOpYl_border-right-style)
    var(--mixin-xMxGwO2MOpYl_border-right-color);
  border-bottom: var(--mixin-xMxGwO2MOpYl_border-bottom-width)
    var(--mixin-xMxGwO2MOpYl_border-bottom-style)
    var(--mixin-xMxGwO2MOpYl_border-bottom-color);
  border-left: var(--mixin-xMxGwO2MOpYl_border-left-width)
    var(--mixin-xMxGwO2MOpYl_border-left-style)
    var(--mixin-xMxGwO2MOpYl_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-esJzuuwN0uGl_display);
  flex-direction: var(--mixin-esJzuuwN0uGl_flex-direction);
  align-items: var(--mixin-esJzuuwN0uGl_align-items);
  justify-content: var(--mixin-esJzuuwN0uGl_justify-content);
  list-style-position: var(--mixin-esJzuuwN0uGl_list-style-position);
  padding-left: var(--mixin-esJzuuwN0uGl_padding-left);
  position: var(--mixin-esJzuuwN0uGl_position);
  list-style-type: var(--mixin-esJzuuwN0uGl_list-style-type);
  column-gap: var(--mixin-esJzuuwN0uGl_column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-0BIJgt79uXul_display);
  flex-direction: var(--mixin-0BIJgt79uXul_flex-direction);
  align-items: var(--mixin-0BIJgt79uXul_align-items);
  justify-content: var(--mixin-0BIJgt79uXul_justify-content);
  list-style-position: var(--mixin-0BIJgt79uXul_list-style-position);
  padding-left: var(--mixin-0BIJgt79uXul_padding-left);
  position: var(--mixin-0BIJgt79uXul_position);
  list-style-type: var(--mixin-0BIJgt79uXul_list-style-type);
  column-gap: var(--mixin-0BIJgt79uXul_column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-5NgtLfBSXV9v_color);
  font-size: var(--mixin-5NgtLfBSXV9v_font-size);
  font-weight: var(--mixin-5NgtLfBSXV9v_font-weight);
  line-height: var(--mixin-5NgtLfBSXV9v_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin--a8zQOkp67EK_color);
  font-size: var(--mixin--a8zQOkp67EK_font-size);
  font-weight: var(--mixin--a8zQOkp67EK_font-weight);
  line-height: var(--mixin--a8zQOkp67EK_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-tnAIR5VczEHi_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}

:where(.root_reset) strong:where(.strong),
strong:where(.root_reset.strong),
:where(.root_reset .__wab_expr_html_text) strong,
:where(.root_reset_tags) strong,
strong:where(.root_reset_tags) {
}

:where(.root_reset) em:where(.em),
em:where(.root_reset.em),
:where(.root_reset .__wab_expr_html_text) em,
:where(.root_reset_tags) em,
em:where(.root_reset_tags) {
}
