.root {
  display: flex;
  flex-direction: column;
  width: 15vw;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  background: #ffffff;
  box-shadow: 0px 4px 16px 0px #0000000d;
  position: relative;
  flex-grow: 0;
  flex-wrap: nowrap;
  align-content: stretch;
  border-radius: 10px;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    flex-wrap: nowrap;
    align-items: flex-start;
    align-content: stretch;
    width: 16vw;
    background: #ffffff;
    box-shadow: 0px 4px 16px 0px #00000003;
    justify-content: flex-start;
    border-radius: 10px;
    padding: 0px;
  }
}
.freeBox__ebK {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 15px;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ebK {
    justify-content: flex-start;
    column-gap: 5px;
    row-gap: 0px;
  }
}
.label2__o41V2:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.text__hKmcH {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: var(--token-P2EB8APoXPOK);
  font-style: normal;
  color: var(--token-Kz32cfmkCCmq);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  padding-top: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__hKmcH {
    font-size: 9px;
  }
}
.label2__esRc:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .label2__esRc:global(.__wab_instance):global(.__wab_instance) {
    margin-right: 0px;
  }
}
.text__jwgus {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: var(--token-P2EB8APoXPOK);
  font-style: normal;
  color: var(--token-Kz32cfmkCCmq);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__jwgus {
    font-size: 10px;
  }
}
.freeBox__xPo0M {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xPo0M {
    padding: 4px;
  }
}
.freeBoxvertical__xPo0MQttUb {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: flex-start;
  justify-content: flex-end;
  column-gap: 0px;
}
.label2__tfz5S:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.text__huWh9 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: var(--token-P2EB8APoXPOK);
  font-style: normal;
  color: var(--token-UhfbOo34yAP-);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__huWh9 {
    width: auto;
    text-align: left;
    color: var(--token-UhfbOo34yAP-);
    font-size: 10px;
  }
}
.text__jIh8C {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: var(--token-P2EB8APoXPOK);
  font-style: normal;
  color: var(--token-UhfbOo34yAP-);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__jIh8C {
    width: auto;
    text-align: left;
    color: var(--token-UhfbOo34yAP-);
    font-size: 8px;
  }
}
