.root {
  width: auto;
  height: auto;
  max-width: 100%;
  display: inline-flex;
  flex-direction: column;
  position: relative;
  padding: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  left: auto;
  top: auto;
  column-gap: var(--token-cfon0PHiXQoL);
  min-width: 0;
  --plsmc-rc-col-gap: var(--token-cfon0PHiXQoL);
  padding: 8px;
}
.columns > :nth-child(1n + 1) {
  width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    --plsmc-rc-col-gap: var(--token-cfon0PHiXQoL);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  min-width: 0;
  border-radius: 10px;
  padding: 8px;
}
.sliderCarousel:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  flex-direction: column;
  object-fit: cover;
  color: var(--token-ZP7q8fwCjzIz);
  margin-bottom: 32px;
  height: auto;
  min-width: 0;
  border-radius: 10px;
  padding: var(--token-IUVIp1DHBSFd);
  border: 1px solid #793131;
}
.freeBox___9YjZt {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 1;
  overflow: hidden;
  flex-grow: 1;
  height: 219px;
  min-width: 0;
  padding: 8px;
}
.img__ytQjO {
  object-fit: cover;
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
  margin: auto;
}
.img__ytQjO > picture > img {
  object-fit: cover;
}
.freeBox__ohFIi {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__d3AT0 {
  object-fit: cover;
  max-width: 100%;
}
.img__d3AT0 > picture > img {
  object-fit: cover;
}
.freeBox___4AdUb {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img___6AScj {
  object-fit: cover;
  max-width: 100%;
}
.img___6AScj > picture > img {
  object-fit: cover;
}
.freeBox__eSFO {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__ddJs {
  object-fit: cover;
  max-width: 100%;
}
.img__ddJs > picture > img {
  object-fit: cover;
}
.freeBox__u3LtE {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 8px 2px;
}
.text__i3V9N {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  color: #008aff;
  font-size: 20px;
  padding-left: 3px;
  min-width: 0;
}
.freeBox___7Q5Ew {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 0px 0px 10px;
}
.text__x3Jjc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  color: var(--token-IWP67w-wUXtW);
  font-size: 16px;
  min-width: 0;
}
.freeBox__i3AcA {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 2px 8px;
}
.text__cFcNy {
  position: relative;
  width: 100%;
  height: 55px;
  max-width: 100%;
  font-weight: 500;
  color: var(--token-Kz32cfmkCCmq);
  margin-right: 0px;
  font-size: 16px;
  margin-bottom: 0px;
  min-width: 0;
}
.freeBox__vu1E7 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  margin-right: 0px;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 0px 0px 0px 8px;
}
.text___88Bjg {
  width: 100%;
  height: 0px;
  max-width: 100%;
  font-weight: 500;
  color: var(--token-Kz32cfmkCCmq);
  font-size: 11px;
  margin-right: 0px;
  position: relative;
  margin-bottom: 0px;
  align-self: center;
  min-width: 0;
  padding: 0px;
}
.freeBox__xEpDg {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 2px 8px;
}
.text__tLzl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  color: var(--token-Kz32cfmkCCmq);
  margin-right: 0px;
  font-size: 13px;
  padding-left: 0px;
  min-width: 0;
}
.freeBox__m5HRo {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__rL6J2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  color: var(--token-UhfbOo34yAP-);
  padding-top: 0px;
  min-width: 0;
}
.popover:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  display: none;
}
.button2:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__t07Td {
  position: relative;
  height: 1em;
}
.svg__qGyUi {
  position: relative;
  height: 1em;
}
.freeBox__blq2A {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-start;
  padding-top: var(--token-JaUdzRqud0sX);
  padding-right: var(--token-JaUdzRqud0sX);
  padding-bottom: var(--token-JaUdzRqud0sX);
  background: var(--token-ZP7q8fwCjzIz);
  align-items: flex-start;
  width: 320px;
  row-gap: var(--token-DuHkp8m-y0fW);
  border-radius: var(--token-_R22tqOQCWOp);
}
.text__pxjkn {
  position: relative;
}
.text__qgoY4 {
  position: relative;
}
