.ariaTextArea:global(.__wab_instance) {
  box-sizing: border-box;
  object-fit: cover;
  position: relative;
  box-shadow: inset 0px 0px 0px 1px var(--token-yRMJ0C5rCs2P);
  font-size: var(--token-P2EB8APoXPOK);
  line-height: var(--token-aS0l6gb-iZFF);
  width: 100%;
  color: var(--token-emgA65CIAei3);
  font-family: var(--token-A_grR1l-YMfh);
  min-width: 0;
  border-radius: var(--token-FEbPypXp2mZ6);
  padding: var(--token-FEbPypXp2mZ6) var(--token-2OzDQPl8ABqZ);
  border-style: none;
}
.ariaTextArea[data-focused]:global(.__wab_instance) {
  outline-width: 2px;
  outline-style: solid;
  outline-color: var(--token-5vmFiSI-IIdw);
  outline-offset: 1px;
}
.ariaTextArea[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.ariaTextAreatype_soft:global(.__wab_instance) {
  background: var(--token-VMTJeJsZtZGK);
  box-shadow: none;
}
.ariaTextAreatype_soft[data-hovered]:global(.__wab_instance) {
  background: var(--token-J7GTHUITk-xW);
}
.ariaTextAreatype_plain:global(.__wab_instance) {
  box-shadow: none;
}
.ariaTextAreatype_plain[data-hovered]:global(.__wab_instance) {
  background: var(--token-VMTJeJsZtZGK);
}
.ariaTextAreaflat_top:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.ariaTextAreaflat_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.ariaTextAreaflat_bottom:global(.__wab_instance) {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.ariaTextAreaflat_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.ariaTextAreapadded_left:global(.__wab_instance) {
  padding-left: var(--token-Y3w1daRc_nBh);
}
.ariaTextAreapadded_right:global(.__wab_instance) {
  padding-right: var(--token-Y3w1daRc_nBh);
}
