.ariaComboBox:global(.__wab_instance) {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: var(--token-YbjSfZMZjpQg);
  min-width: 0;
}
.ariaComboBox[data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}
.freeBox {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
}
.ariaInput:global(.__wab_instance) {
  box-shadow: inset 0px 0px 0px 1px var(--token-yRMJ0C5rCs2P);
  width: 100%;
  font-size: var(--token-P2EB8APoXPOK);
  line-height: var(--token-aS0l6gb-iZFF);
  outline-style: none;
  min-width: 0;
  border-radius: var(--token-FEbPypXp2mZ6);
  padding: var(--token-FEbPypXp2mZ6) var(--token-Y3w1daRc_nBh)
    var(--token-FEbPypXp2mZ6) var(--token-2OzDQPl8ABqZ);
  border-style: none;
}
.ariaButton:global(.__wab_instance) {
  box-sizing: border-box;
  cursor: pointer;
  object-fit: cover;
  background: none;
  position: absolute;
  right: 0;
  width: var(--token-Y3w1daRc_nBh);
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--token-Y3w1daRc_nBh);
  flex-shrink: 0;
  border-radius: var(--token-FEbPypXp2mZ6);
  border: 1px none black;
}
.svg {
  width: var(--token-JaUdzRqud0sX);
  height: var(--token-JaUdzRqud0sX);
}
.description:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.text__qD8Rt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
