.root {
  width: auto;
  height: auto;
  max-width: 65%;
  display: inline-flex;
  flex-direction: column;
  position: relative;
  justify-self: flex-start;
  background: var(--token-yRMJ0C5rCs2P);
  row-gap: 10px;
  padding: 2px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    max-width: 100%;
    background: var(--token-LphXi5U7EQSi);
    padding: 0px;
  }
}
.columns {
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  left: auto;
  top: auto;
  column-gap: var(--token-cfon0PHiXQoL);
  background: #ffffff;
  --plsmc-rc-col-gap: var(--token-cfon0PHiXQoL);
  padding: 4px;
}
.columns > :nth-child(1n + 1) {
  width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    --plsmc-rc-col-gap: var(--token-cfon0PHiXQoL);
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  row-gap: 15px;
  min-width: 0;
  border-radius: 10px;
  padding: 2px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column {
    box-shadow: none;
    padding: 5px;
  }
}
.sliderCarousel:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  flex-direction: column;
  object-fit: cover;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .sliderCarousel:global(.__wab_instance) {
    border-radius: 15px;
    padding: 5px;
    margin: 5px;
    border: 1px solid var(--token-1H0ij1obZCXO);
  }
}
.freeBox__l0P6K {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 95%;
  justify-content: flex-start;
  align-items: center;
  background: none;
  min-width: 0;
  padding: 8px;
}
.img {
  object-fit: cover;
  max-width: 100%;
  height: auto;
}
.img > picture > img {
  object-fit: cover;
}
.freeBox__luLL {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-wrap: wrap;
  min-width: 0;
  padding: 8px;
}
.text__meOrN {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  color: #008aff;
  font-size: 20px;
  padding-left: 3px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__meOrN {
    font-size: 14px;
  }
}
.text__nTzj5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  color: var(--token-IWP67w-wUXtW);
  font-size: 16px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__nTzj5 {
    font-size: 12px;
  }
}
.label__bnEsD:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.text___5IbEj {
  font-weight: 600;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___5IbEj {
    font-size: 12px;
  }
}
.text__cqSXs {
  padding-left: 5px;
  font-weight: 600;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__cqSXs {
    font-size: 10px;
    align-self: flex-end;
    color: var(--token-UhfbOo34yAP-);
  }
}
.text___8Patg {
  color: var(--token-Kz32cfmkCCmq);
  font-weight: 700;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___8Patg {
    font-size: 12px;
  }
}
.text__cvlQ {
  font-weight: 600;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__cvlQ {
    font-size: 12px;
  }
}
.text__fXq01 {
  padding-left: 5px;
  font-weight: 600;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__fXq01 {
    font-size: 10px;
    align-self: flex-end;
    color: var(--token-UhfbOo34yAP-);
  }
}
.text__kVeEz {
  color: var(--token-Kz32cfmkCCmq);
  font-weight: 700;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__kVeEz {
    font-size: 12px;
  }
}
.text__wjHnz {
  font-weight: 600;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__wjHnz {
    font-size: 12px;
  }
}
.text__nKdKz {
  padding-left: 5px;
  font-weight: 600;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__nKdKz {
    font-size: 10px;
    align-self: flex-end;
    color: var(--token-UhfbOo34yAP-);
  }
}
.tabs:global(.__wab_instance) {
  width: auto;
  overflow: scroll;
  max-width: 100%;
  object-fit: cover;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
  align-content: stretch;
  padding: 8px;
}
.tabs__tabs:global(.ant-tabs) :global(.ant-tabs-nav) {
  background: none;
  padding-left: 20px;
  outline: none;
}
.tabs__tabsDropdown:global(.ant-tabs-dropdown)
  :global(.ant-tabs-dropdown-menu) {
  background: #ffffff;
  outline: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .tabs:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.tabItem__bovth:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__flAKs {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  background: var(--token-UhfbOo34yAP-);
  color: var(--token-ZP7q8fwCjzIz);
  padding-left: 10px;
  padding-right: 10px;
  align-self: baseline;
  border-radius: 15px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__flAKs {
    font-size: 14px;
  }
}
.text__ydU1D {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.freeBox__gsr1I {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  row-gap: 5px;
  overflow: auto;
  min-width: 0;
  padding: 4px;
}
.label___96L:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.text__exDik {
  color: var(--token-UhfbOo34yAP-);
  font-size: 18px;
  font-weight: 600;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__exDik {
    font-size: 12px;
  }
}
.text__h433G {
  padding-left: 3px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__h433G {
    font-size: 10px;
    align-self: center;
  }
}
.label__wb8QY:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__y2Gjw {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-wrap: wrap;
  row-gap: 5px;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__y2Gjw {
    row-gap: 5px;
    column-gap: 0px;
  }
}
.text__bKib6 {
  color: var(--token-UhfbOo34yAP-);
  font-size: 18px;
  width: 100%;
  font-weight: 600;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__bKib6 {
    font-size: 12px;
  }
}
.freeBox__bkrqU {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
  background: var(--token-LphXi5U7EQSi);
  min-width: 0;
  border-radius: 10px;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bkrqU {
    background: var(--token-qBREz7MRf41n);
  }
}
.text__glJqj {
  color: var(--token-UhfbOo34yAP-);
  font-size: 18px;
  width: 100%;
  min-width: 0;
  border-radius: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__glJqj {
    font-size: 10px;
  }
}
.freeBox__pUgqb {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 10px;
  min-width: 0;
  padding: 2px;
}
.freeBox__d3CXm {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  row-gap: 10px;
  min-width: 0;
  padding: 2px;
}
.label__wexQ7:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__qzfPq {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-wrap: wrap;
  row-gap: 4px;
  min-width: 0;
  padding: 0px;
}
.text__xAcWn {
  width: 100%;
  color: var(--token-emgA65CIAei3);
  font-weight: 600;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__xAcWn {
    font-size: 11px;
  }
}
.text__hqunQ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__hqunQ {
    font-size: 10px;
  }
}
.label__a6RWp:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__jIiH9 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-wrap: wrap;
  row-gap: 4px;
  min-width: 0;
  padding: 0px;
}
.text__v2A6D {
  width: 100%;
  padding-bottom: 0px;
  color: var(--token-UhfbOo34yAP-);
  font-weight: 600;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__v2A6D {
    font-size: 11px;
  }
}
.text__ycH0C {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: justify;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__ycH0C {
    font-size: 9px;
  }
}
.label__xdBeJ:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__ktBnc {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-wrap: wrap;
  row-gap: 4px;
  min-width: 0;
  padding: 0px;
}
.text__lFaq {
  width: 100%;
  font-weight: 600;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__lFaq {
    font-size: 12px;
  }
}
.text__i7Pr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__i7Pr {
    font-size: 9px;
  }
}
.freeBox__yo2Ou {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  row-gap: 10px;
  min-width: 0;
  padding: 2px;
}
.label__jcmck:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__vSjS5 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-wrap: wrap;
  row-gap: 4px;
  min-width: 0;
  padding: 0px;
}
.text__b2Xiy {
  width: 100%;
  font-weight: 600;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__b2Xiy {
    font-size: 11px;
  }
}
.text__tfSp9 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__tfSp9 {
    font-size: 10px;
  }
}
.label__uwetm:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__soSmA {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-wrap: wrap;
  row-gap: 4px;
  min-width: 0;
  padding: 0px;
}
.text__ulHnZ {
  width: 100%;
  font-weight: 600;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__ulHnZ {
    font-size: 11px;
  }
}
.text__g9PPt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__g9PPt {
    font-size: 9px;
  }
}
.label__pfgLk:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__wIPcy {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-wrap: wrap;
  row-gap: 4px;
  min-width: 0;
  padding: 0px;
}
.text__gf7PM {
  width: 100%;
  font-weight: 600;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__gf7PM {
    font-size: 11px;
  }
}
.text__tfDRp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__tfDRp {
    font-size: 9px;
  }
}
.tabItem__mpXip:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__jieLd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  background: var(--token-yRMJ0C5rCs2P);
  color: var(--token-UhfbOo34yAP-);
  min-width: 0;
  border-radius: 15px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__jieLd {
    font-size: 14px;
  }
}
.text__rWmXe {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-UhfbOo34yAP-);
  font-weight: 600;
}
