.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: center;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.layout:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.freeBox___0Ygy5 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 10px;
  min-width: 0;
  padding: 5px;
}
.freeBox__by7AJ {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: flex-start;
  column-gap: 20px;
  min-width: 0;
  padding: 4px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__by7AJ {
    column-gap: 10px;
    row-gap: 0px;
  }
}
.freeBox__h3IhX {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: auto;
  height: auto;
  max-width: 100%;
  cursor: pointer;
  column-gap: 20px;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__h3IhX {
    column-gap: 10px;
    width: auto;
    height: auto;
    row-gap: 0px;
  }
}
.svg {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-UhfbOo34yAP-);
  align-self: center;
  height: var(--token-OJSN3W0Myvht);
  transition-property: transform;
  transition-duration: 1s;
  transition-timing-function: ease-in;
  -webkit-transition-property: transform;
  -webkit-transition-timing-function: ease-in;
  -webkit-transition-duration: 1s;
  border-radius: 45px;
  border-width: 1px;
  border-style: solid;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg {
    height: var(--token-gzhQ56cI3Art);
  }
}
.root .svg:active {
  box-shadow: 0px 4px 16px 0px var(--token-UhfbOo34yAP-);
}
.freeBox__usyLm {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 4px;
}
.combobox:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.text__pP577 {
  font-size: var(--token-PQ6SvGTcXvie);
}
.loadingBoundary:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__oz6F {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 600px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #ffffff;
  min-width: 0;
  padding: 4px;
}
.freeBox__fdIxc {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: space-around;
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-wrap: wrap;
  align-content: stretch;
  background: #ffffff;
  column-gap: 5px;
  min-width: 0;
  padding: 2px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fdIxc {
    width: auto;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    flex-wrap: nowrap;
    align-content: stretch;
    column-gap: 0px;
  }
}
.freeBox__hL2L6 {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  width: 45%;
  height: auto;
  max-width: 100%;
  justify-content: flex-end;
  align-items: center;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__hL2L6 {
    width: 100%;
    row-gap: 10px;
    column-gap: 0px;
    min-width: 0;
    padding: 4px;
  }
}
.freeBox___1IGon {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-end;
  align-items: center;
  min-width: 0;
  padding: 30px 4px 4px;
}
.sliderCarousel:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  flex-direction: column;
  object-fit: cover;
  min-width: 0;
}
.freeBox__mPf7O {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.img {
  object-fit: cover;
  max-width: 100%;
}
.img > picture > img {
  object-fit: cover;
}
.molProdCards__lnHag:global(.__wab_instance) {
  max-width: 100%;
  left: auto;
  top: auto;
  z-index: 1;
  position: relative;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .molProdCards__lnHag:global(.__wab_instance) {
    left: auto;
    top: auto;
    position: relative;
    flex-shrink: 0;
    display: none;
  }
}
.freeBox__hM7TU {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 54%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 4px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__hM7TU {
    width: auto;
    padding-top: 12px;
  }
}
.molProdCards__j041:global(.__wab_instance) {
  max-width: 100%;
  left: 0px;
  top: 0px;
  z-index: 1;
  position: absolute;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .molProdCards__j041:global(.__wab_instance) {
    left: 0px;
    top: 0px;
    position: sticky;
    flex-shrink: 0;
  }
}
.tabs:global(.__wab_instance) {
  width: 100%;
  overflow: scroll;
  max-width: 100%;
  object-fit: cover;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.tabItem__bqbVz:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__rAa6E {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: var(--token-P2EB8APoXPOK);
  min-width: 0;
  border-radius: 15px;
  padding: 1px 5px;
}
.freeBox__jpSzk {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  row-gap: 5px;
  overflow: auto;
  min-width: 0;
  padding: 4px;
}
.label__xyFli:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__b6Vww {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-wrap: wrap;
  row-gap: 5px;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__b6Vww {
    row-gap: 5px;
    column-gap: 0px;
  }
}
.text__zfyBf {
  color: var(--token-UhfbOo34yAP-);
  font-size: var(--token-PQ6SvGTcXvie);
  width: 100%;
  font-weight: 600;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__zfyBf {
    font-size: var(--token-eVYj83L7jOWZ);
    font-weight: 700;
  }
}
.freeBox__fk2K {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
  background: var(--token-LphXi5U7EQSi);
  min-width: 0;
  border-radius: 10px;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fk2K {
    background: var(--token-qBREz7MRf41n);
  }
}
.table:global(.__wab_instance) {
  width: 100%;
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  font-size: var(--token-P2EB8APoXPOK);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .table:global(.__wab_instance) {
    font-size: var(--token-eVYj83L7jOWZ);
  }
}
.freeBox___7P0Eh {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-wrap: wrap;
  column-gap: 0px;
  row-gap: 8px;
  min-width: 0;
  padding: 2px;
}
.label__qRmLz:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 49%;
  height: 100%;
  min-height: 0;
}
.freeBox__qhQfq {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-wrap: nowrap;
  row-gap: 3px;
  align-content: stretch;
  min-width: 0;
  padding: 0px;
}
.text__aQhB {
  width: auto;
  color: var(--token-emgA65CIAei3);
  font-weight: 600;
  white-space: pre;
  font-size: var(--token-PQ6SvGTcXvie);
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__aQhB {
    font-size: var(--token-eVYj83L7jOWZ);
    font-weight: 700;
  }
}
.text__cjF3A {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-P2EB8APoXPOK);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__cjF3A {
    font-size: var(--token-eVYj83L7jOWZ);
    font-weight: 400;
  }
}
.tabItem__h6Sis:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__qGdSa {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: var(--token-P2EB8APoXPOK);
  min-width: 0;
}
.label__ommNk:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___3H8W {
    font-size: var(--token-P2EB8APoXPOK);
  }
}
