.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.sideEffect:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.layout:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.freeBox__q5Cec {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__q5Cec {
    padding: 2px 2px 10px;
  }
}
.freeBox__jaHoc {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__jaHoc {
    row-gap: 5px;
    column-gap: 0px;
  }
}
.freeBox__rT0Fa {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 20px;
  align-self: flex-end;
  min-width: 0;
  padding: 5px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__rT0Fa {
    justify-content: space-between;
    padding: 2px;
  }
}
.atomFilters__aSnnC:global(.__wab_instance) {
  height: auto;
  margin: 0px;
}
.freeBox__rtZeB {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  align-self: center;
  min-width: 0;
  padding: 0px;
}
.popover2:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: auto;
  height: auto;
}
.text__xTftE {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.freeBox__unyi8 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: var(--token-ZP7q8fwCjzIz);
  align-items: flex-start;
  width: 100%;
  row-gap: var(--token-DuHkp8m-y0fW);
  min-width: 0;
  border-radius: var(--token-_R22tqOQCWOp);
  padding: var(--token-cfon0PHiXQoL);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__unyi8 {
    row-gap: var(--token-YbjSfZMZjpQg);
    background: var(--token-VMTJeJsZtZGK);
    column-gap: 0px;
    margin: 0px;
  }
}
.radioGroup2:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.text___106ZK {
  color: var(--token-Kz32cfmkCCmq);
  font-weight: 700;
}
.freeBox__egB {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: var(--token-YbjSfZMZjpQg);
}
.radio__x3XXj:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.text___2C0Ey {
  color: var(--token-UhfbOo34yAP-);
  font-weight: 500;
  font-size: 14px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___2C0Ey {
    font-size: var(--token-eVYj83L7jOWZ);
  }
}
.radio__nV1I9:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.text__royY5 {
  color: var(--token-UhfbOo34yAP-);
  font-weight: 500;
  font-size: 14px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__royY5 {
    font-size: var(--token-eVYj83L7jOWZ);
  }
}
.radio__wru4B:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.text__qB3Bf {
  color: var(--token-UhfbOo34yAP-);
  font-weight: 500;
  font-size: 14px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__qB3Bf {
    font-size: var(--token-eVYj83L7jOWZ);
  }
}
.radio__lT27M:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.text___27Fcq {
  color: var(--token-UhfbOo34yAP-);
  font-weight: 500;
  font-size: 14px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___27Fcq {
    font-size: var(--token-eVYj83L7jOWZ);
  }
}
.radio__w5Ux8:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .radio__w5Ux8:global(.__wab_instance):global(.__wab_instance) {
    display: none;
  }
}
.text__kaDdg {
  color: var(--token-UhfbOo34yAP-);
  font-weight: 500;
  font-size: 14px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__kaDdg {
    font-size: var(--token-eVYj83L7jOWZ);
  }
}
.atomFilters__p4YH8:global(.__wab_instance) {
  max-width: 100%;
  align-self: center;
}
.freeBox__ngz0S {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ngz0S {
    column-gap: 10px;
    row-gap: 0px;
    padding: 0px;
  }
}
.textInput:global(.__wab_instance) {
  max-width: 100%;
}
.svg__iLtYn {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  display: none;
}
.freeBox__t13M {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: stretch;
  column-gap: 10px;
  flex-wrap: wrap;
  align-content: flex-start;
  row-gap: 10px;
  min-width: 0;
  padding: 0px 0px 15px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__t13M {
    cursor: pointer;
    padding: 0px;
  }
}
.loadingBoundary:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__vQCd {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  transform: none;
  min-width: 0;
  border-radius: 15px;
  padding: 4px;
}
.img {
  object-fit: cover;
  max-width: 100%;
  height: var(--token-OJSN3W0Myvht);
  flex-shrink: 0;
}
.img > picture > img {
  object-fit: cover;
}
