.root:global(.__wab_instance) {
  width: 300px;
  box-sizing: border-box;
  object-fit: cover;
  background: var(--token-ZP7q8fwCjzIz);
  position: relative;
  overflow: auto;
  box-shadow: 0px 0px 12px 0px #00000040,
    0px 0px 0px 0.5px var(--token-qBREz7MRf41n);
  border-radius: var(--token-2OzDQPl8ABqZ);
  padding: var(--token-FEbPypXp2mZ6);
}
.ariaListBox:global(.__wab_instance) {
  box-sizing: border-box;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  outline-style: none;
  min-width: 0;
}
.menuSection__bsIgP:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
