.root:global(.__wab_instance) {
  width: 100%;
  display: flex;
  max-width: 100%;
  flex-direction: column;
  object-fit: cover;
  position: relative;
  min-width: 0;
}
.cmsEntryField:global(.__wab_instance) {
  object-fit: cover;
  max-width: 100%;
  height: 105px;
  width: 99px;
  align-self: center;
}
.text___6D0T3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__ffBtL {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
