.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-5vmFiSI-IIdw);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-DuHkp8m-y0fW);
  font-family: var(--token-A_grR1l-YMfh);
  font-size: var(--token-P2EB8APoXPOK);
  line-height: var(--token-aS0l6gb-iZFF);
  outline-style: none;
  text-decoration-line: none;
  border-radius: var(--token-FEbPypXp2mZ6);
  padding: 0rem;
  border-width: 0px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-7pJsXrz6ZJTm);
  outline-offset: 1px;
  outline-color: var(--token-5vmFiSI-IIdw);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-4jLsdWqoYLxp);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-uTlp15VGCXeI);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-QMGbPeoH-Gy0);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-mR2i-yk1mpLa);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-IWP67w-wUXtW);
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-oU9C0l17ewgt);
  font-size: var(--token-eVYj83L7jOWZ);
  column-gap: var(--token-7pJsXrz6ZJTm);
  row-gap: 0px;
  border-radius: var(--token-YbjSfZMZjpQg);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-eVYj83L7jOWZ);
  line-height: var(--token-oU9C0l17ewgt);
  column-gap: var(--token-YbjSfZMZjpQg);
  row-gap: 0px;
  border-radius: var(--token-YbjSfZMZjpQg);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-PQ6SvGTcXvie);
  line-height: var(--token-PJSMkSYzilp3);
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-PQ6SvGTcXvie);
  line-height: var(--token-PJSMkSYzilp3);
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-EJswiHLUnZUr);
  border-radius: var(--token-FEbPypXp2mZ6);
}
.softBackgroundcolor_neutral {
  background: var(--token-veLHBP5DLXij);
}
.softBackgroundcolor_muted {
  background: var(--token-VMTJeJsZtZGK);
}
.softBackgroundcolor_success {
  background: var(--token-fFv6a2Famcc8);
}
.softBackgroundcolor_warning {
  background: var(--token-ya4PP5Vh6DVS);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-S_8JUp_UmCy6);
}
.softBackgroundtype_soft {
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-FEbPypXp2mZ6);
  border: 0px solid var(--token-dnjslxtXDFNe);
}
.bordercolor_neutral {
  border-color: var(--token-GjdRQTIPgkIO);
}
.bordercolor_muted {
  border-color: var(--token-qBREz7MRf41n);
}
.bordercolor_success {
  border-color: var(--token-xeRtfcmfD1mP);
}
.bordercolor_warning {
  border-color: var(--token-MGbkjH-CEXT8);
}
.bordercolor_errorDestructive {
  border-color: var(--token-kpx9SnOnBdDo);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-FEbPypXp2mZ6);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-UqHQKI3KqJef);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-e4_2q2x7DtpM);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-teCHKfT5z9px);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox__uWraD {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  column-gap: var(--token-FEbPypXp2mZ6);
  min-width: 0;
  min-height: 0;
  padding: var(--token-FEbPypXp2mZ6) var(--token-2OzDQPl8ABqZ);
}
.freeBoxsize_extraSmall__uWraDLpzG2 {
  padding: var(--token-YbjSfZMZjpQg) var(--token-FEbPypXp2mZ6);
}
.freeBoxsize_small__uWraDw1PeB {
  padding: var(--token-FEbPypXp2mZ6) var(--token-DuHkp8m-y0fW);
}
.freeBoxsize_large__uWraDtnFpC {
  padding-top: var(--token-YbjSfZMZjpQg);
  padding-bottom: var(--token-YbjSfZMZjpQg);
}
.freeBoxsize_extraLarge__uWraDTczS {
  padding-left: var(--token-_R22tqOQCWOp);
  padding-right: var(--token-_R22tqOQCWOp);
}
.freeBoxroundedFull__uWraD4XCeu {
  padding-right: var(--token-_R22tqOQCWOp);
  padding-left: var(--token-_R22tqOQCWOp);
}
.freeBox__pmv4E {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart__pmv4EiOJP {
  display: flex;
}
.slotTargetStart {
  color: var(--token-oeBFDBMdyccI);
}
.slotTargetStartcolor_neutral {
  color: var(--token-S0SjW5oqDoSD);
}
.slotTargetStartcolor_muted {
  color: var(--token-1H0ij1obZCXO);
}
.slotTargetStartcolor_success {
  color: var(--token-ZgnjoOnXYjTb);
}
.slotTargetStartcolor_warning {
  color: var(--token-Bq32dfTSgeTH);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-bEmm3fVJ5jET);
}
.slotTargetStarttype_soft {
  color: var(--token-YKTC46dAzhss);
}
.slotTargetStarttype_bordered {
  color: var(--token-YKTC46dAzhss);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-eVYj83L7jOWZ);
}
.slotTargetStartsize_small {
  font-size: var(--token-eVYj83L7jOWZ);
}
.slotTargetStartsize_large {
  font-size: var(--token-PQ6SvGTcXvie);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-PQ6SvGTcXvie);
}
.slotTargetStartcolor_neutral_type_soft {
  color: var(--token-qMoYJPDxlrTZ);
}
.slotTargetStarttype_bordered_color_neutral {
  color: var(--token-qMoYJPDxlrTZ);
}
.slotTargetStartcolor_muted_type_soft {
  color: var(--token-QOlNJK6AW-pl);
}
.slotTargetStartcolor_muted_type_bordered {
  color: var(--token-QOlNJK6AW-pl);
}
.slotTargetStartcolor_success_type_soft {
  color: var(--token-C_qy35rsoZeQ);
}
.slotTargetStarttype_bordered_color_success {
  color: var(--token-C_qy35rsoZeQ);
}
.slotTargetStartcolor_warning_type_soft {
  color: var(--token-OcR13RuVjiHi);
}
.slotTargetStartcolor_warning_type_bordered {
  color: var(--token-OcR13RuVjiHi);
}
.slotTargetStartcolor_errorDestructive_type_soft {
  color: var(--token-vL1VTDrHk9Yx);
}
.slotTargetStartcolor_errorDestructive_type_bordered {
  color: var(--token-vL1VTDrHk9Yx);
}
.svg__ho7GC {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-oeBFDBMdyccI);
}
.slotTargetLabelcolor_neutral {
  color: var(--token-S0SjW5oqDoSD);
}
.slotTargetLabelcolor_muted {
  color: var(--token-1H0ij1obZCXO);
}
.slotTargetLabelcolor_success {
  color: var(--token-ZgnjoOnXYjTb);
}
.slotTargetLabelcolor_warning {
  color: var(--token-Bq32dfTSgeTH);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-bEmm3fVJ5jET);
}
.slotTargetLabeltype_soft {
  color: var(--token-YKTC46dAzhss);
}
.slotTargetLabeltype_bordered {
  color: var(--token-YKTC46dAzhss);
}
.slotTargetLabelcolor_neutral_type_soft {
  color: var(--token-qMoYJPDxlrTZ);
}
.slotTargetLabelcolor_muted_type_soft {
  color: var(--token-QOlNJK6AW-pl);
}
.slotTargetLabeltype_bordered_color_neutral {
  color: var(--token-qMoYJPDxlrTZ);
}
.slotTargetLabelcolor_success_type_soft {
  color: var(--token-C_qy35rsoZeQ);
}
.slotTargetLabelcolor_muted_type_bordered {
  color: var(--token-QOlNJK6AW-pl);
}
.slotTargetLabelcolor_warning_type_soft {
  color: var(--token-OcR13RuVjiHi);
}
.slotTargetLabeltype_bordered_color_success {
  color: var(--token-C_qy35rsoZeQ);
}
.slotTargetLabelcolor_errorDestructive_type_soft {
  color: var(--token-vL1VTDrHk9Yx);
}
.slotTargetLabelcolor_warning_type_bordered {
  color: var(--token-OcR13RuVjiHi);
}
.slotTargetLabelcolor_errorDestructive_type_bordered {
  color: var(--token-vL1VTDrHk9Yx);
}
.text__zlguP {
  white-space: pre;
}
.freeBox__bowdw {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd__bowdwfboYm {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-oeBFDBMdyccI);
}
.slotTargetEndcolor_neutral {
  color: var(--token-S0SjW5oqDoSD);
}
.slotTargetEndcolor_muted {
  color: var(--token-1H0ij1obZCXO);
}
.slotTargetEndcolor_success {
  color: var(--token-ZgnjoOnXYjTb);
}
.slotTargetEndcolor_warning {
  color: var(--token-Bq32dfTSgeTH);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-bEmm3fVJ5jET);
}
.slotTargetEndtype_soft {
  color: var(--token-YKTC46dAzhss);
}
.slotTargetEndtype_bordered {
  color: var(--token-YKTC46dAzhss);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-eVYj83L7jOWZ);
}
.slotTargetEndsize_small {
  font-size: var(--token-eVYj83L7jOWZ);
}
.slotTargetEndsize_large {
  font-size: var(--token-PQ6SvGTcXvie);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-PQ6SvGTcXvie);
}
.slotTargetEndcolor_neutral_type_soft {
  color: var(--token-qMoYJPDxlrTZ);
}
.slotTargetEndtype_bordered_color_neutral {
  color: var(--token-qMoYJPDxlrTZ);
}
.slotTargetEndcolor_muted_type_soft {
  color: var(--token-QOlNJK6AW-pl);
}
.slotTargetEndcolor_muted_type_bordered {
  color: var(--token-QOlNJK6AW-pl);
}
.slotTargetEndcolor_success_type_soft {
  color: var(--token-C_qy35rsoZeQ);
}
.slotTargetEndtype_bordered_color_success {
  color: var(--token-C_qy35rsoZeQ);
}
.slotTargetEndcolor_warning_type_soft {
  color: var(--token-OcR13RuVjiHi);
}
.slotTargetEndcolor_warning_type_bordered {
  color: var(--token-OcR13RuVjiHi);
}
.slotTargetEndcolor_errorDestructive_type_soft {
  color: var(--token-vL1VTDrHk9Yx);
}
.slotTargetEndcolor_errorDestructive_type_bordered {
  color: var(--token-vL1VTDrHk9Yx);
}
.svg__j2YA {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
