.root {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    display: flex;
    width: 100vw;
    justify-self: flex-start;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    column-gap: 0px;
  }
}
.sideEffect:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__zLfYs {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zLfYs {
    display: none;
  }
}
.sidebar:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .sidebar:global(.__wab_instance) {
    position: relative;
    left: auto;
    top: auto;
    flex-shrink: 0;
  }
}
.freeBox__me2Od {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100vh;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__me2Od {
    position: relative;
    left: auto;
    top: auto;
    width: 100vw;
    height: 100%;
    min-height: 0;
    padding: 0px;
  }
}
.freeBox__wweml {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 9vh;
  max-width: 100%;
  box-shadow: none;
  align-self: flex-start;
  left: auto;
  top: auto;
  z-index: 1;
  min-width: 0;
  flex-shrink: 0;
  padding: 10px 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wweml {
    justify-content: space-between;
    align-items: center;
  }
}
.menuButton {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
  border: 1px solid var(--token-yRMJ0C5rCs2P);
}
@media (min-width: 0px) and (max-width: 768px) {
  .menuButton {
    width: auto;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root .menuButton:hover {
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  }
}
.svg__bitqB {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__bitqB {
    display: none;
  }
}
.svg__mE9N {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__mE9N {
    display: block;
  }
}
.moreMenu:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .moreMenu:global(.__wab_instance) {
    display: flex;
  }
}
.freeBox___1QBeu {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
.freeBox___8Le19 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__kIv6 {
    display: none;
  }
}
.cmsDataFetcher___1PM6D:global(.__wab_instance) {
  width: 100%;
  display: flex;
  max-width: 100%;
  flex-direction: column;
  object-fit: cover;
  min-width: 0;
}
.freeBox__sdQxl {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.cmsEntryField:global(.__wab_instance) {
  object-fit: cover;
  max-width: 100%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .cmsEntryField:global(.__wab_instance) {
    display: none;
  }
}
.atomMenuItem__b7Xr:global(.__wab_instance) {
  max-width: 100%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .atomMenuItem__b7Xr:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.text__xy065 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__u3Fx4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__mn9S3 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  left: auto;
  top: auto;
  z-index: 1;
  bottom: auto;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mn9S3 {
    left: auto;
    top: auto;
    bottom: auto;
    width: 100%;
    min-width: 0;
  }
}
.cmsDataFetcher__dpxIc:global(.__wab_instance) {
  width: 100%;
  display: flex;
  max-width: 100%;
  flex-direction: column;
  object-fit: cover;
  min-width: 0;
}
.freeBox__p8VB8 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.atomMenuItem___6T477:global(.__wab_instance) {
  max-width: 100%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .atomMenuItem___6T477:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.text__utt0A {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text___1CoKh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__em73 {
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-f5yZMucxeQg7);
  display: none;
  padding: 8px;
}
.button__zvrE8:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__zlgj {
  position: relative;
  height: 1em;
}
.text__a8IDz {
  white-space: pre;
  color: #eeeeee;
}
.svg__ohIcW {
  position: relative;
  height: 1em;
}
.text__udao8 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 600;
}
.freeBox__upUgj {
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  cursor: pointer;
  left: auto;
  top: auto;
  z-index: 1;
  right: auto;
  flex-direction: column;
  padding: 8px;
}
.popover:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  transform: translateX(0px) translateY(0px) translateZ(0px);
}
.avatar:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  cursor: pointer;
  width: var(--token--_xqF59Qmd-S);
  height: var(--token--_xqF59Qmd-S);
  position: relative;
  left: auto;
  top: auto;
}
.freeBox__ikiuD {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-evenly;
  background: var(--token-ZP7q8fwCjzIz);
  align-items: flex-start;
  width: 290px;
  row-gap: var(--token-_R22tqOQCWOp);
  border-radius: var(--token-_R22tqOQCWOp);
  padding: var(--token-JaUdzRqud0sX);
}
.text__kcnMq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  text-align: left;
  color: var(--token-UhfbOo34yAP-);
  background: var(--token-VMTJeJsZtZGK);
  min-width: 0;
  border-radius: 10px;
  padding: 8px;
}
.text__oWcfV {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  text-align: left;
  background: var(--token-DbGdjBpQ6R_X);
  font-size: 18px;
  cursor: pointer;
  min-width: 0;
  border-radius: 10px;
  padding: 8px;
}
.button__tOffk:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__vSgQg {
  position: relative;
  height: 1em;
}
.text__up2Oi {
  white-space: pre;
  color: #eeeeee;
}
.svg__eRgp4 {
  position: relative;
  height: 1em;
}
.freeBox__esS {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
  background: var(--token-VMTJeJsZtZGK);
  min-width: 0;
  min-height: 0;
  padding: 0px 18px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__esS {
    padding-bottom: 0px;
    margin-bottom: 65px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
.sidebar2:global(.__wab_instance) {
  width: 100%;
  position: relative;
  left: auto;
  top: auto;
  flex-shrink: 0;
  z-index: 1;
  align-self: center;
  min-width: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .sidebar2:global(.__wab_instance) {
    left: 0;
    top: auto;
    align-self: center;
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 100;
    flex-shrink: 0;
    display: flex;
    margin: auto;
  }
}
