.ariaRadioGroup:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: var(--token-YbjSfZMZjpQg);
  min-width: 0;
}
.ariaRadioGroup[data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
}
.freeBox___0Bjq7 {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: var(--token-YbjSfZMZjpQg);
}
.radio___6Fexg:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.radio___0Aj6I:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.radio__s0Pnn:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.description:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
