.root {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  justify-self: flex-start;
  flex-direction: column;
  justify-content: space-between;
  min-width: 0;
  border-radius: 10px;
  border: 1px solid var(--token-Kz32cfmkCCmq);
}
.rootshadow {
  box-shadow: 0px 4px 16px 0px #00000033;
}
.text {
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-UhfbOo34yAP-);
  font-size: var(--token-P2EB8APoXPOK);
  font-weight: 700;
  background: #fffefe;
  position: absolute;
  left: 15px;
  top: -13px;
  z-index: 1;
  border-radius: 10px;
  padding: 0px 5px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text {
    top: -12px;
    font-size: var(--token-eVYj83L7jOWZ);
  }
}
.freeBox__tmCE {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 10px;
}
.freeBox__n6Jao {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
